<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Tarea DWES 03{% endblock %}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 20px;
            margin: 2em; background: #f5f5f5;
        }
        header, footer {
            background: #333;
            color: white;
            padding: 1em;
            text-align: center;
        }
        {% block style %}
        /* Aquí irá el contenido específico de los estilos de cada vista */
        {% endblock %}
    </style>
</head>
<body>
    <header>
        <h1>Tarea DWES 03</h1>
    </header>

    <main>
        {% block content %}
        <!-- Aquí irá el contenido específico de cada vista -->
        {% endblock %}
    </main>

    <footer>
        <p>© 2025 - Tarea DWES 03</p>
    </footer>
</body>
</html>